.suzanne
  margin 25px 0 50px

.red-line
  width 65%
  margin 0 auto
  height 3px
  background-color color_red

.social
  padding 20px 0
  a
    margin 0 10px
  img
    opacity 0.5
    transition all 0.3s ease-in-out 0s
  img:hover
    opacity 1
