.book-2
  margin 50px 0

.quote-box
  position relative
  max-width 75%
  margin 38px auto
  font-style italic

.quoted
  &:before
    content "“"
    position absolute
    left -46px
    top -28px
    width 40px
    font-size 60px
    font-family georgia
  &:after
    content "”"
    position absolute
    right -30px
    top 28px
    width 40px
    font-size 60px
    font-family georgia

.pre-order
  margin 80px 0

  h2
    font-size 30px

  img
    margin 18px
    max-width 50%
