.white
  color white

i
  color white
  text-decoration underline

input[type="email"]
  max-width 500px
  margin 50px auto
  height 60px
  font-size 28px
  padding 30px
  border 5px solid white
  border-radius 8px
  @media (max-width:768px)
    font-size 18px
    margin 28px auto

  &:focus
    border-color gray