.navbar-margin
  @media (min-width: 768px)
    margin-top 120px
  @media (max-width: 768px)
    margin-top 60px

.venice-bg
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  background url('../images/bg_venice.png') no-repeat center center fixed
  background-size cover

.white-bg
  position relative
  background-color white

.section-padding-top
  @media (min-width: 768px)
    padding-top 160px
  @media (max-width: 768px)
    padding-top 50px

.section-padding
  @media (min-width: 768px)
    padding 160px 0
  @media (max-width: 768px)
    padding 50px 0

.section-padding-small
  @media (min-width: 768px)
    padding 80px 0
  @media (max-width: 768px)
    padding 28px 0
