// Colors
color_red = #72080b
color_grey = #f7f7f7
background_white = #fff

// Fonts
font_color = #252525
h1_size = 50px
h2_size = 20px
p_size = 15px

@font-face
  font-family Serlio
  src url(../fonts/serlio.ttf)

@font-face
  font-family Gamma
  src url(../fonts/Gamma-Itc-T-OT-Book_19474.ttf)

@font-face
  font-family Gamma
  font-style italic
  src url(../fonts/Gamma-Itc-T-OT-Book-Italic_19473.ttf)