.red-bar
  a(name="contact")
  .row.section-padding-small(data-magellan-destination="contact")
    .small-10.small-centered.columns.text-center
      h1.white Newsletter Sign Up

      // MailChimp signup

      form(action="//suzannema.us9.list-manage.com/subscribe/post?u=78b517653bd9e7517b714e4bf&amp;id=9253a4c48e", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", target="_blank" novalidate)
        input(type="email", value="", name="EMAIL", class="email", placeholder="Email address" required)
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style="position: absolute; left: -5000px;")
          input(type="text", name="b_78b517653bd9e7517b714e4bf_9253a4c48e", tabindex="-1", value="")
        input.button.round(type="submit", value="Subscribe", name="subscribe")

      h1.section-padding-top.white Contact

      p Please direct all <i>rights inquiries</i> to my agent: <br> Elizabeth Evans, Jean V. Nagger Literary Agency, eevans@jvnla.com
      p Please direct all <i>media</i> and <i>speaking inquires</i> to my publicist: <br> Dana Kaye, Kaye Publicity, dana@kayepublicity.com
      p For all other questions, feel free to email me at book@suzannema.com
