a(name="events")
.row(data-magellan-destination="events")
  .small-12.column
    .text-center
      h2 Events

.row
  .small-2.large-1.columns
    .date
      .day 08
      .month March 2015
  .small-10.large-11.columns
    h4 Meet Me In Venice Book Launch
    h5 Dr. Sun Yat-Sen Classical Chinese Garden

.row
  .small-10.small-centered.large-uncentered.large-5.large-push-6.columns
    img(src="./images/map.png")

    .show-for-medium-up
      p.caps Saturday March 8, 2015, 2 p.m. PT
      .bar
      p Dr. Sun Yat-Sen Classical Chinese Garden in Vancouver’s historic Chinatown

  .small-10.small-centered.large-uncentered.large-5.large-pull-4.columns
    p A party to celebrate the launch of <b>Meet Me in Venice</b>! Want to know what it takes to become a published author? Curious to know more about the Chinese in Italy?

    p Come listen to Suzanne speak about her amazing four-year journey tracking migrants from China to Italy, and be the first to see an exclusive exhibition of Suzanne’s photographs on Chinese immigrant life on display in the Hall of One Hundred Rivers.

    p Light refreshments will be served.

    p RSVP: <a href="mailto:suzanne@suzannema.com">suzanne@suzannema.com</a>
