.navbar-margin
  .row
    .small-12.large-6.columns
      .book
        img(src="./images/book01.png")

    .small-12.large-6.columns.text-center
      h1.title Meet me in Venice
      h2 A Chinese Immigrant’s Journey from the Far East to the Faraway West


      .red-bar
        h2 Praise for Meet Me in Venice

        ul(data-orbit, data-options="timer_speed: 6000; slide_number: false; bullets: false; navigation_arrows: false; timer: true; resume_on_mouseout: true")
          li(data-orbit-slide='quote4')
            p “Suzanne Ma brings beautiful writing, compassion, and humor… [She] illuminates the contours of Chinese immigrant lives that are crucial to the global economy and invisible to the outside world.”
            p.source Leslie T. Chang, author of Factory Girls
          li(data-orbit-slide='quote5')
            p “Suzanne Ma has crafted a fascinating and human portrait of what life is like for young Chinese migrants in Europe. This is a book for anybody who knows what it’s like to leave home.”
            p.source Peter Hessler, author of River Town and Oracle Bones
          li(data-orbit-slide='quote2')
            p “This is a tale of hope and heartache… an unforgettable glimpse into one of the fundamental yearnings of our age, the all-too-human desire for a better life.”
            p.source Jan Wong, Author of Red China Blues
          li(data-orbit-slide='quote1')
            p “Ma expertly channels the yearning and base desires of her subjects through intimate conversation and cultural analysis in a narrative full of genuine compassion and appreciation.”
            p.source Kirkus Reviews
          li(data-orbit-slide='quote3')
            p “Suzanne Ma… gets beyond the vague big picture and into specific communities and real lives, richly rewarding us by opening wide a fascinating door into the world of Chinese emigration.”
            p.source Howard W. French, author of China's Second Continent

  .row.section-padding
    .small-10.small-centered.column
      .text-center
        h1 Coming February 2015
        h2 PRE-ORDER today at <a href="http://www.amazon.com/Meet-Me-Venice-Chinese-Immigrants/dp/1442239360/">AMAZON.COM</a>, <a href="http://www.barnesandnoble.com/w/meet-me-in-venice-suzanne-ma/1119943108?ean=9781442239364">BARNES AND NOBLE</a> or <a href="http://www.chapters.indigo.ca/books/meet-me-in-venice/9781442239364-item.html">CHAPTERS INDIGO</a>
