.venice-container
  .row
    .small-12.large-6.columns
      img(src="./images/book.png")

    .small-10.small-centered.large-uncentered.large-6.columns
      h1 Meet me in Venice
      h3 A Chinese Immigrant’s Journey from the Far East to the Faraway West.

      .red-bar
        p This compelling book explores the flood of Chinese Immigrants to the West through the extraordinary story of Ye Pei, a determined teenaged who set off to Venice to reunite with her mother, who had left years easlier. In a remarkable feat of immersive journalism, Suzanne Ma takes readers deep into a misunderstood subculture, illuminating the humanity within.
        .text-center
          a.button.round(href="#") Read More

  .row
    .small-10.small-centered.column
      .text-center
        h2 Coming February 2015
        p PRE-ORDER today at AMAZON.COM, BARNES AND NOBLE or CHAPTERS INDIGO