.navbar-margin
  .row
    .small-12.large-6.columns
      .book
        img(src="./images/book01.png")

    .small-12.large-6.columns.text-center
      h1.title Meet me in Venice
      h2 A Chinese Immigrant’s Journey from the Far East to the Faraway West.


      .red-bar
        p.large-only-text-left This compelling book explores the flood of Chinese Immigrants to the West through the extraordinary story of Ye Pei, a determined teenaged who set off to Venice to reunite with her mother, who had left years easlier. In a remarkable feat of immersive journalism, Suzanne Ma takes readers deep into a misunderstood subculture, illuminating the humanity within.
        .text-center
          a.button.round(href="#book") Read More

  .row.section-padding
    .small-10.small-centered.column
      .text-center
        h1 Coming February 2015
        h2 PRE-ORDER today at AMAZON.COM, BARNES AND NOBLE or CHAPTERS INDIGO