.off-canvas-wrap(data-offcanvas)
  .inner-wrap
    nav.tab-bar.show-for-small-only
      section.left-small
        a.left-off-canvas-toggle.menu-icon(href="#menu")
          span

      section.middle.tab-bar-section
        img(src="./images/SuzanneMa.png")

    aside.left-off-canvas-menu
      ul.off-canvas-list
        li
          label Suzanne Ma
        li
          a(href="#about") About
        li
          a(href="#book") Book
        li
          a(href="#contact") Contact
        li
          a(href="http://blog.suzannema.com", target="_blank") Blog

    section.main-section
      include _topbar
      include main

    a.exit-off-canvas
