div.show-for-medium-up(data-magellan-expedition="fixed")
  nav.top-bar
    .inner(data-topbar)
      ul.title-area
        li.name
          img(src="./images/SuzanneMa.png")

      section.top-bar-section
        ul.right
          li(data-magellan-arrival="about")
            a(href="#about") About
          li(data-magellan-arrival="book")
            a(href="#book") Book
          // li(data-magellan-arrival="published")
          //   a(href="#published") Published work
          li(data-magellan-arrival="events")
            a(href="#events") Events
          li(data-magellan-arrival="contact")
            a(href="#contact") Contact
          li
            a(href="http://blog.suzannema.com", target="_blank") Blog
