.fixed.show-for-medium-up
  nav.top-bar
    ul.title-area
      li.name
        h1 Suzanne Ma

    section.top-bar-section
      ul.right
        li
          a(href="#about") About
        li
          a(href="#blog") Blog
        li
          a(href="#published") Published work
        li
          a(href="#events") Events
